In [ ]:
# %%

import re
import duckdb
from duckdb.typing import BOOLEAN, VARCHAR

In [ ]:
# %%

suppliersFile = "./files/oracle suppliers for prama.csv"

# Jan 2025 - Still has unmatched card names - Need to check
outputFile = "./files/pcard_monthly_output_jan25.csv"
outputExcelFile = "./files/pcard_monthly_output_jan25.xlsx"
monthlyTransactionsFile = "./files/01.31.25-Monthly_w_GLInternal_Audit_Record.xlsx"


# Dec 2024 - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_dec24.csv"
# outputExcelFile = "./files/pcard_monthly_output_dec24.xlsx"
# monthlyTransactionsFile = "./files/12.31.24-Monthly_w_GLInternal_Audit_Record.xlsx"


# Nov 2024 - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_nov24.csv"
# outputExcelFile = "./files/pcard_monthly_output_nov24.xlsx"
# monthlyTransactionsFile = "./files/11.30.24-Monthly_w_GLInternal_Audit_Record.xlsx"


# Oct 2024 - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_oct24.csv"
# outputExcelFile = "./files/pcard_monthly_output_oct24.xlsx"
# monthlyTransactionsFile = "./files/10.31.24 Monthly_w_GLInternal_Audit_Record.xlsx"


# Sep 2024 - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_sep24.csv"
# outputExcelFile = "./files/pcard_monthly_output_sep24.xlsx"
# monthlyTransactionsFile = "./files/09.30.24 Monthly_w_GLInternal_Audit_Record.xlsx"


# Aug 2024 - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_aug24.csv"
# outputExcelFile = "./files/pcard_monthly_output_aug24.xlsx"
# monthlyTransactionsFile = "./files/08.30.24 Monthly_w_GLInternal_Audit_Record.xlsx"


# July 2024 - Final Run - Still has unmatched card names - Need to check
# outputFile = "./files/pcard_monthly_output_july24.csv"
# outputExcelFile = "./files/pcard_monthly_output_july24.xlsx"
# monthlyTransactionsFile = "./files/07.31.24 Final Monthly_w_GLInternal_Audit_Record.xlsx"

# # July 2024 - Early Run
# outputFile = "./files/pcard_monthly_output_july24.csv"
# outputExcelFile = "./files/pcard_monthly_output_july24.xlsx"
# monthlyTransactionsFile = "./files/07.31.24-Monthly_w_GLInternal_Audit_Record Early Run.xlsx"

# June 2024
# outputFile = "./files/pcard_monthly_output_june24.csv"
# outputExcelFile = "./files/pcard_monthly_output_june24.xlsx"
# monthlyTransactionsFile = "./files/06.30.24 Monthly_w_GLInternal_Audit_Record.xlsx"

# May 2024
# outputFile = "./files/pcard_monthly_output_may24.csv"
# outputExcelFile = "./files/pcard_monthly_output_may24.xlsx"
# monthlyTransactionsFile = "./files/05.31.24-Monthly_w_GLInternal_Audit_Record.xlsx"

# Apr 2024
# outputFile = "./files/pcard_monthly_output_apr24.csv"
# outputExcelFile = "./files/pcard_monthly_output_apr24.xlsx"
# monthlyTransactionsFile = "./files/04.30.24 Monthly_w_GLInternal_Audit_Record.xlsx"

# Mar 2024
# outputFile = "./files/pcard_monthly_output_mar24.csv"
# outputExcelFile = "./files/pcard_monthly_output_mar24.xlsx"
# monthlyTransactionsFile = "./files/03.31.24-Monthly_w_GLInternal_Audit_Record.xlsx"

# Feb 2024
# outputFile = "./files/pcard_monthly_output_feb24-new1.csv"
# outputExcelFile = "./files/pcard_monthly_output_feb24-new1.xlsx"
# monthlyTransactionsFile = "./files/InternalAuditPcardPreviousMonth_MonthlywGLInternalAudit_20240305064658.xlsx"

# Jan 2024
# outputFile = "./files/pcard_monthly_output_jan24-new1.csv"
# outputExcelFile = "./files/pcard_monthly_output_jan24-new1.xlsx"
# monthlyTransactionsFile = "./files/1.31.24-Monthly_w_GLInternal_Audit_Record.xlsx" # Jan 24 File

# Full 2 years history prior to 2024
# outputFile = "./files/pcard_monthly_output_full_history-new1.csv"
# outputExcelFile = "./files/pcard_monthly_output_full_history-new1.xlsx"
# monthlyTransactionsFile = "./files/Monthly_w_GLInternal_Audit_Record -2022-2023 - 3.14.24.xlsx" # Full History File

# Used since Final July 2024 Run
cardLimitsMappingsFile = "./files/Master- PCard-Mappings-as of 8.13.24.xlsx"
otherMappingsFile = "./files/Master- PCard-Mappings-as of 8.13.24.xlsx"
pivotMappingFile = "./files/Master- PCard-Mappings-as of 8.13.24.xlsx"

# # Used for Early July 2024 Run
# cardLimitsMappingsFile = "./files/Master- PCard-Mappings-as of 7.22.24.xlsx"
# otherMappingsFile = "./files/Master- PCard-Mappings-as of 7.22.24.xlsx"
# pivotMappingFile = "./files/Master- PCard-Mappings-as of 7.22.24.xlsx"


# cardLimitsMappingsFile = "./files/Go Prama Master- PCard-Mappings-Consolidated-03292024.xlsx"
# otherMappingsFile = "./files/Go Prama Master- PCard-Mappings-Consolidated-03292024.xlsx"
# pivotMappingFile = "./files/Go Prama Master- PCard-Mappings-Consolidated-03292024.xlsx"

In [ ]:
# %%

exceptionsList = [
    "	Adult	",
    "	Appliances	",
    "	Artwork	",
    "	Bail	",
    "	Bars	",
    "	Beauty	",
    "	Betting	",
    "	Cash	",
    "	Casino	",
    "	Club	",
    "	Computer	",
    "	Concert	",
    "	Designer	",
    "	Dining	",
    "	Donation	",
    "	Electronics	",
    "	Entertainment	",
    "	Fine	",
    "	Firearms	",
    "	Fragrance	",
    "	Furniture	",
    "	Gaming	",
    "	Hobby	",
    "	Insurance	",
    "	Interest	",
    "	Jewelry	",
    "	Late	",
    "	Legal	",
    "	Leisure	",
    "	Lingerie	",
    "	Loan	",
    "	Lottery	",
    "	Luxury	",
    "	Massage	",
    "	Medical	",
    "	Membership	",
    "	Missing	",
    "	Nightclub	",
    "	Packages	",
    "	Penalty	",
    "	Personal	",
    "	Pet	",
    "	Political	",
    "	Renewal	",
    "	Repairs	",
    "	Spa	",
    "	Sports	",
    "	Storage	",
    "	Streaming	",
    "	Subscription	",
    "	Ticket	",
    "	Tobacco	",
    "	Vacation	",
    "	Vehicle	",
    "	Withdrawal	",
]

# "Travel" only for campuses - not for home office or others

cleanExceptionsList = []

for i in exceptionsList:
    cleanExceptionsList.append(i.strip().lower())

In [ ]:
# %%

cleanExceptionsList

['adult',
 'appliances',
 'artwork',
 'bail',
 'bars',
 'beauty',
 'betting',
 'cash',
 'casino',
 'club',
 'computer',
 'concert',
 'designer',
 'dining',
 'donation',
 'electronics',
 'entertainment',
 'fine',
 'firearms',
 'fragrance',
 'furniture',
 'gaming',
 'hobby',
 'insurance',
 'interest',
 'jewelry',
 'late',
 'legal',
 'leisure',
 'lingerie',
 'loan',
 'lottery',
 'luxury',
 'massage',
 'medical',
 'membership',
 'missing',
 'nightclub',
 'packages',
 'penalty',
 'personal',
 'pet',
 'political',
 'renewal',
 'repairs',
 'spa',
 'sports',
 'storage',
 'streaming',
 'subscription',
 'ticket',
 'tobacco',
 'vacation',
 'vehicle',
 'withdrawal']

In [ ]:
# %%

vendorsWatchList = [
    "Staples",
    "GFS",
    "Menards",
    "Lowes",
    "Home Depot",
    "Ivy Tech",
    "Positive Promotions",
]

In [ ]:
# %%

con = duckdb.connect()

con.sql("INSTALL spatial;")
con.sql("LOAD spatial;")

In [ ]:
# %%

# load pcard monthly transactions

con.sql(
    f"""--sql
    CREATE TABLE pcard_monthly AS SELECT * FROM st_read('{monthlyTransactionsFile}', open_options=['HEADERS=FORCE']);"""
)

print(
    con.sql("""--sql
            SELECT COUNT(*) FROM pcard_monthly""")
)

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

In [ ]:
# %%

print(con.sql("DESCRIBE pcard_monthly"))

# ##

print(con.sql(""" SELECT DISTINCT "Company Name" from pcard_monthly """))

┌───────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│    column_name    │ column_type │  null   │   key   │ default │  extra  │
│      varchar      │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Company Name      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Hierarchy Name    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ GL Account        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Note              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Split Description │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Cost Center       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Project Code      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Split Amount      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Merchant          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Post Date         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Receipts          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Review Date       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Approve Date      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Approve 2 Date    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ In Envelope       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ First Name        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Last Name         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ SIC MCC CD        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Date  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 19 rows                                                       6 columns │
└─────────────────────────────────────────────────────────────────────────┘

┌──────────────────────────────────────────┐
│               Company Name               │
│                 varchar                  │
├──────────────────────────────────────────┤
│ PCA GROUP CARDS                          │
│ DANVILLE SENIOR PARTNERS LLC             │
│ WINCHESTER SENIOR PARTNERS LLC           │
│ BARDSTOWN SENIOR PARTNERS LLC            │
│ SHELBYVILLE SENIOR PARTNERS LLC          │
│ TRILOGY HEALTH SERVICES, LLC             │
│ TOF I OPCO HOLDCO LLC                    │
│ NEW ALBANY SENIOR PARTNERS               │
│ Trilogy Dialysis Group Cards             │
│ AHR TRS WISCONSIN HOLDINGS LLC           │
├──────────────────────────────────────────┤
│                 10 rows                  │
└──────────────────────────────────────────┘

In [ ]:
# %%

print(con.sql(""" SELECT DISTINCT "Cost Center" from pcard_monthly """))

┌─────────────┐
│ Cost Center │
│   varchar   │
├─────────────┤
│ 0571        │
│ 0231        │
│ 0437        │
│ 0445        │
│ 0234        │
│ 0572        │
│ 0524        │
│ 0525        │
│ 0441        │
│ N/A         │
│ 0232        │
│ 0233        │
├─────────────┤
│   12 rows   │
└─────────────┘

In [ ]:
# %%

column_name_mappings = [
    ("Company Name", "Company.Company Legal Name"),
    ("Hierarchy Name", "Company Unit.Hierarchy Name"),
    ("GL Account", "Financial Codes.General Ledger Code"),
    ("Note", "Transaction User Defined.Note"),
    ("Split Description", "Transaction Splits.Split Description"),
    ("Cost Center", "Financial Codes.Cost Center Code"),
    ("Project Code", "Financial Codes.Project Code"),
    ("Split Amount", "Transaction Splits.Split Amount"),
    ("Merchant", "Transaction.Merchant Name"),
    ("Post Date", "Transaction.Posting Dt"),
    ("Receipts", "Transaction.Receipts"),
    ("Review Date", "Transaction.Review Date"),
    ("Approve Date", "Transaction.Approved Dt"),
    ("Approve 2 Date", "Transaction.Approved2 Dt"),
    ("In Envelope", "Transaction.In Envelope"),
    ("First Name", "Cardholder.First Name"),
    ("Last Name", "Cardholder.Last Name"),
    ("SIC MCC CD", "Transaction.SIC Merchant Category Code CD"),
    ("Transaction Date", "Transaction.Transaction Dt"),
]

In [ ]:
# %%

for c in column_name_mappings:
    con.sql("ALTER TABLE pcard_monthly RENAME COLUMN " + f"'{c[0]}'" + " TO " + f"'{c[1]}'" + ";")

In [ ]:
# %%

print(con.sql("DESCRIBE pcard_monthly"))

# ##

print(con.sql(""" SELECT DISTINCT "Company.Company Legal Name" from pcard_monthly """))

┌───────────────────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│                column_name                │ column_type │  null   │   key   │ default │  extra  │
│                  varchar                  │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Company.Company Legal Name                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Company Unit.Hierarchy Name               │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.General Ledger Code       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction User Defined.Note             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Description      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Cost Center Code          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Amount           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Merchant Name                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Posting Dt                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Receipts                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Review Date                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Approved Dt                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Approved2 Dt                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.In Envelope                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Cardholder.First Name                     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Cardholder.Last Name                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.SIC Merchant Category Code CD │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Transaction Dt                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 19 rows                                                                               6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

┌──────────────────────────────────────────┐
│        Company.Company Legal Name        │
│                 varchar                  │
├──────────────────────────────────────────┤
│ DANVILLE SENIOR PARTNERS LLC             │
│ TRILOGY HEALTH SERVICES, LLC             │
│ TOF I OPCO HOLDCO LLC                    │
│ NEW ALBANY SENIOR PARTNERS               │
│ Trilogy Dialysis Group Cards             │
│ PCA GROUP CARDS                          │
│ WINCHESTER SENIOR PARTNERS LLC           │
│ BARDSTOWN SENIOR PARTNERS LLC            │
│ AHR TRS WISCONSIN HOLDINGS LLC           │
│ SHELBYVILLE SENIOR PARTNERS LLC          │
├──────────────────────────────────────────┤
│                 10 rows                  │
└──────────────────────────────────────────┘

In [ ]:
# %%

print(con.sql(""" SELECT DISTINCT "Financial Codes.Cost Center Code" from pcard_monthly """))

┌──────────────────────────────────┐
│ Financial Codes.Cost Center Code │
│             varchar              │
├──────────────────────────────────┤
│ 0571                             │
│ 0234                             │
│ 0572                             │
│ 0231                             │
│ 0233                             │
│ N/A                              │
│ 0232                             │
│ 0437                             │
│ 0445                             │
│ 0524                             │
│ 0525                             │
│ 0441                             │
├──────────────────────────────────┤
│             12 rows              │
└──────────────────────────────────┘

In [ ]:
# %%

# load department to location mapping

con.sql(
    f"""--sql
    CREATE TABLE dept_loc AS SELECT * FROM st_read("{otherMappingsFile}", layer = 'Mapping -Dept-Loc', open_options=['HEADERS=FORCE']);"""
)

print(con.sql("SELECT COUNT(*) FROM dept_loc"))

print(con.sql("DESCRIBE dept_loc"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          158 │
└──────────────┘

┌──────────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│           column_name            │ column_type │  null   │   key   │ default │  extra  │
│             varchar              │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Financial Codes.Cost Center Code │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Department Description           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Field3                           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Name                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Division                         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Company.Company Legal Name       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Category                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Grouping                         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Notes                            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 10 rows                                                                      6 columns │
└────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

# load account number to name mapping

con.sql(f"""CREATE TABLE acct_number_name AS SELECT * FROM st_read("{otherMappingsFile}", layer = 'Mapping - Acct #', open_options=['HEADERS=FORCE']);""")

print(con.sql("SELECT COUNT(*) FROM acct_number_name"))

print(con.sql("DESCRIBE acct_number_name"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           69 │
└──────────────┘

┌────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│  column_name   │ column_type │  null   │   key   │ default │  extra  │
│    varchar     │   varchar   │ varchar │ varchar │ varchar │ varchar │
├────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Account Number │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ Account Name   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Comment        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
└────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [ ]:
# %%

# load card limits

con.sql(f"""CREATE TABLE card_limits AS SELECT * FROM st_read("{cardLimitsMappingsFile}", layer = 'Mapping - Card Limits-Loc-Categ', open_options=['HEADERS=FORCE']);""")

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM card_limits"))

print(con.sql("DESCRIBE card_limits"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          208 │
└──────────────┘

┌──────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name          │ column_type │  null   │   key   │ default │  extra  │
│           varchar            │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Acct #                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Last Name                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ First Name                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Type                         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Credit Limit                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Current Balance              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Current Statement            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Opened                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Expires                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Status                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Hierarchy Node Name          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Name                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Category            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Grouping                     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Department Code              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Department name              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ First + Last Name            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Comment/Question             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ lookup                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ match                        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 21 rows                                                                  6 columns │
└────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql("""UPDATE card_limits SET "Credit Limit" = regexp_replace("Credit Limit",'US', '', 'g') """)

con.commit()

In [ ]:
# %%

con.sql("""UPDATE card_limits SET "Current Balance" = regexp_replace("Current Balance",'US', '', 'g') """)

con.commit()

In [ ]:
# %%

con.sql("""UPDATE card_limits SET "Current Statement" = regexp_replace("Current Statement",'US', '', 'g') """)

con.commit()

In [ ]:
# %%

con.sql("""select "Credit Limit" from card_limits limit 5""")

┌──────────────┐
│ Credit Limit │
│   varchar    │
├──────────────┤
│ $3,500       │
│ $1,000       │
│ $3,500       │
│ $3,500       │
│ $3,500       │
└──────────────┘

In [ ]:
# %%

print(con.sql(""" SELECT DISTINCT "Credit Limit" from card_limits """))

┌──────────────┐
│ Credit Limit │
│   varchar    │
├──────────────┤
│ $10,000      │
│ $15,000      │
│ $2,500       │
│ $40,000      │
│ $3,200       │
│ $3,000       │
│ $25,000      │
│ $20,000      │
│ $3,500       │
│ $3,632       │
│ $30,000      │
│ $55,000      │
│ $1,000       │
│ $50,000      │
│ $3,250       │
│ $250         │
│ $300         │
│ $5,000       │
│ $2,000       │
├──────────────┤
│   19 rows    │
└──────────────┘

In [ ]:
# %%

# con.sql(""" DROP table card_limits """)

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM card_limits"))

print(con.sql("DESCRIBE card_limits"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          208 │
└──────────────┘

┌──────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name          │ column_type │  null   │   key   │ default │  extra  │
│           varchar            │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Acct #                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Last Name                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ First Name                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Type                         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Credit Limit                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Current Balance              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Current Statement            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Opened                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Expires                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Status                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Hierarchy Node Name          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Name                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Category            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Grouping                     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Department Code              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Department name              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ First + Last Name            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Comment/Question             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ lookup                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ match                        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 21 rows                                                                  6 columns │
└────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %% load suppliers list

con.sql(f"""CREATE TABLE suppliers_list AS SELECT * FROM st_read("{suppliersFile}");""")

print(con.sql("SELECT COUNT(*) FROM suppliers_list"))

print(con.sql("DESCRIBE suppliers_list"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        26866 │
└──────────────┘

┌─────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│   column_name   │ column_type │  null   │   key   │ default │  extra  │
│     varchar     │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ KEY             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ SUPPLIER_NUMBER │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ SUPPLIER_NAME   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ SUPPLIER_TYPE   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ADDRESS_1       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ADDRESS_2       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ CITY            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ STATE           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ZIP             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ COUNTRY         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│    ·            │    ·        │  ·      │  ·      │  ·      │  ·      │
│    ·            │    ·        │  ·      │  ·      │  ·      │  ·      │
│    ·            │    ·        │  ·      │  ·      │  ·      │  ·      │
│ SITE_NAME       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ DATE_1          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ PAYMENT_METHOD  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ADDRESS_NAME    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ FED_REPORTABLE  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ ATTRIBUTE1      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ IRS1099         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ PHONE_NUMBER    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ CONTACT_NAME    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ EMAIL_ADDRESS   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├─────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 25 rows (20 shown)                                          6 columns │
└───────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql("SELECT distinct SUPPLIER_TYPE  from suppliers_list")

┌─────────────────────────────┐
│        SUPPLIER_TYPE        │
│           varchar           │
├─────────────────────────────┤
│ Refunds - (Non Resident)    │
│ UTILITY                     │
│ MEDICAL/HEALTH NON-PROFIT   │
│ BOARD MEMBER                │
│ INSURANCE                   │
│ EMPLOYEE SETTLEMENT         │
│ BEAUTICIAN                  │
│ ATTORNEY                    │
│ DECEASED EMPLOYEE           │
│ Medical/Health              │
│       ·                     │
│       ·                     │
│       ·                     │
│ ATTORNEY_SERVICES           │
│ Resident Refunds            │
│ SUPPLIER                    │
│ ATTORNEY_SETTLEMENT         │
│ Rent/Mortgage/Lease         │
│ CONTRACTOR                  │
│ Health Ins & Other Benefits │
│ Tuition Reimbursement       │
│ MEDICAL DIRECTOR            │
│ Employee                    │
├─────────────────────────────┤
│     24 rows (20 shown)      │
└─────────────────────────────┘

In [ ]:
# %%

res = con.sql("""SELECT distinct("Transaction.Merchant Name") from pcard_monthly""")

results = res.fetchall()
for r in results:
    print(r)

('MEIJER 221',)
('WAL-MART #2542',)
('DOLLAR GENERAL #10410',)
('PARTY CITY 5198',)
('MOTOR CITY PEAKS LLC TOLE',)
('KROGER #406',)
("WENDY'S 05352",)
('MENARDS OREGON OH',)
('WM SUPERCENTER #1033',)
("NOBLE'S IGA",)
('TST  THE KENTUCKY CASTLE',)
('GFS STORE #0184',)
('Peacock 5736D Premium',)
('HOMEDEPOT.COM',)
('DOLLARTREE',)
('DOLLAR-GENERAL #3657',)
('GFS STORE #0345',)
('BUFFALO WILD WNGS 3036',)
('AMZN Mktp US ZP8XR5UP2',)
('HARBOR FREIGHT TOOLS 743',)
('PARKVIEW CPR CENTER',)
('SORSO COFFEE',)
('MEIJER # 106',)
('WM SUPERCENTER #1745',)
('JAY C FOODS #073',)
('KROGER # 794',)
('DD  SIRPIZZA',)
('WM SUPERCENTER #2010',)
('WAL-MART #1341',)
('PAPA JOHNS #1489',)
('WAL-MART #0902',)
('WAL-MART #3502',)
('IN  POPCORN STATION OF LO',)
('USPS PO 1769080567',)
('KROGER #875',)
('CHIPOTLE ONLINE',)
('WM SUPERCENTER #3502',)
('ALDI 62078',)
('DOLLAR-GENERAL #2650',)
('LUCKY,S CAMBODIAN & TH',)
('CAREY HILLIARD RESTAURANT',)
('BOMBSHELTER CARRY OUT',)
('AMAZON MKTPL ZD3LV4XN2',)
('THE HOME DEPOT #2763',)
('BEST BUY      00003715',)
('WAL-MART #1962',)
('WM SUPERCENTER #2771',)
('STARBUCKS 800-782-7282',)
('EXTRA SPACE 2132',)
('AMAZON MARK  ZD5W15VY2',)
('WAL-MART #1388',)
('TLF NANZ AND KRAFT FLORIS',)
('AIRGAS LLC - SOUTH S112',)
('AMAZON MARK  ZD1294BH2',)
('WAL-MART #7290',)
('FIVE BELOW 517',)
('WM SUPERCENTER #1655',)
('WAL-MART #1275',)
('AMAZON MKTPL ZP3K74481',)
('UNIVERSITY HOSPITAL',)
('TARGET        00006163',)
('WALGREENS #3618',)
('MEIJER # 232',)
('LOWES #02592',)
('AMZN Mktp US ZD97M3FM0',)
('AMAZON MKTPL ZD6ZF0N20',)
('JEFFERS HANDBELL SUPPLY',)
('FLOWER SHOP NETWORK',)
('SQ  STEVES LOCKSMITH',)
('AMAZON MKTPL ZP4GO7VW1',)
("PAPA JOHN'S #0023",)
('EL CHARRO',)
('eBay O 20-12534-59530',)
("MARTIN'S TO GO #14",)
('AMZN Mktp US ZD8V09WZ2',)
('AMAZON MARK  Z52SQ1452',)
('SAMS CLUB#4947',)
('THE VILLAGE FLORIST',)
('AMZN Mktp US ZP9476D11',)
('EZCATER PANERA BREAD',)
('Celebrity Cruises',)
('TARGET        00018788',)
('WM SUPERCENTER #1913',)
('LOWES #01615',)
('SUPPLYHOUSE.COM',)
('IC  INSTACART 161',)
('THE HOME DEPOT #2026',)
('DD  DOORDASH ALDI',)
('WM SUPERCENTER #1142',)
('AMAZON MKTPL ZD1UR5VM0',)
('AMAZON MARK  Z58CJ2AJ2',)
('PARTS TOWN, LLC',)
('Ottawa Highland Lanes',)
('AMAZON MKTPL ZP3BD1YM1',)
('MEIJER # 130',)
('IN BMV LAFAYETTE  377',)
("CASSANO'S PIZZA KING #178",)
('IN LOCAL GOVERNMENT',)
('TST SNAPS',)
('AMAZON MKTPL Z56NV1GI2',)
('AMAZON MKTPL ZD8YI2C91',)
("MCDONALD'S M6365 OF OH",)
("KNEPP'S AMISH KOUNTRY KOR",)
('ALDI.US',)
('TARGET        00010637',)
('AMAZON MKTPL ZD97Z3CX1',)
('AMAZON MKTPL ZD9YG4860',)
('KROGER #5396',)
('AMAZON MKTPL Z56D37HL2',)
('AMAZON MKTPL Z52OU5CO0',)
('SPECIAL NEEDS AT SEA',)
('INDIANA OXYGEN COMPANY',)
('WAL-MART #1518',)
('TOTAL WINE AND MORE',)
('AMAZON MKTPL Z53054H42',)
('WOODEN KEG LIQUORS',)
('SQ  THE COZY KITCHEN',)
('RULER FOODS #243',)
('DOLLAR-GENERAL #3030',)
('AMAZON MKTPL ZD3JU2YV0',)
('TST VARA JUICE - GRAND B',)
('ROSS DRESS FOR LESS 2362',)
('AMAZON MKTPL Z51SF1O00',)
('FORD CENTER',)
('SAMS CLUB #6429',)
('T&R LIQUORS- TELL CITY',)
('AMAZON MKTPL ZD2MX6NR1',)
('TEMU.COM',)
('MEIJER STORE #139',)
('FAZOLI S # 911-INT',)
('HOBBY LOBBY #1011',)
('COCOA SAFARI CHOCOLATES',)
('MAD TOWN LIQOURS',)
('HILTON HOTELS',)
('AMAZON MKTPL Z560X9H32',)
('KROGER #5890',)
('AMAZON MKTPL Z54YM3FD0',)
('TST THE ELECTRIC BREW -',)
('IN BMV SHELBYVILLE  732',)
('AMAZON MKTPL ZD5HO1SI0',)
('TROPICAL SMOOTHIE CAFE MI',)
("TST  BIANCKE'S RESTAURANT",)
('AMAZON MKTPL ZD6T47FS1',)
('WAL-MART #1601',)
('AMAZON MKTPL Z50L85L40',)
('VALLEY PARTY STORE',)
('MEIJER # 117',)
('SONIC DRIVE IN #6534',)
('COSTCO WHSE #0634',)
('DOLLAR-GENERAL #2214',)
('AMAZON MKTPL ZD1VG1M71',)
('WM SUPERCENTER #1378',)
('LOWES #01516',)
('AMAZON MKTPL Z51PP3ZF0',)
('JAY C FOODS #014',)
('AMZN Mktp US ZD6Q19B71',)
('IN  DUNLAP SUPPLY',)
('ROSS STORES #1725',)
('AMAZON MKTPL Z55LY6AP0',)
('WAL-MART #1557',)
('DD  DOORDASH PITAWAY',)
('WAL-MART #0720',)
('AMAZON MKTPL ZG3YM2AR2',)
('WM SUPERCENTER #1601',)
('IN BMV BLOOMINGTON  313',)
('CC  CRUMBL NOVI',)
('AMAZON MKTPL Z52737G10',)
('KOHLS #1087',)
('AMAZON MKTPL ZG1KR5A72',)
('ROSS STORE #2037',)
('WM SUPERCENTER #1429',)
('JMAC SUPPLY',)
('AMAZON MKTPL ZG6I70AS2',)
('SAMS CLUB #8139',)
('AMAZON MKTPL ZD0GP3US1',)
('AMAZON MKTPL ZG6BD5GI2',)
('AMZN Mktp US ZG9G84XO2',)
('WM SUPERCENTER #729',)
('DELTA       0062298901232',)
('CULVERS LAFAYETTE',)
('AMAZON MKTPL ZG9B87MJ2',)
('WAL-MART #2678',)
('PAYPAL  AHCA',)
('CIRCLE K 03325',)
('WM SUPERCENTER #1170',)
('AMAZON MKTPL ZG0933BO2',)
("NINA'S FLORAL",)
('AMAZON MKTPL ZG94S0FE0',)
('MCALISTERS DELI 106042',)
('AMAZON MKTPL Z53EY3II0',)
('FSP NCTRC',)
('BUFFALO WILD WNGS 3180',)
('LA PINATA MEXICAN GRILL',)
('AMAZON MKTPL ZG00G8N80',)
('AMAZON MKTPL Z53691LH1',)
('AMAZON MARK  Z52Q58351',)
('PAPA JOHNS #11',)
('AMAZON MKTPL ZG1ZA8RO2',)
('DONATOS PIZZA #0021 OLO',)
("HARRY'S STONE GRILL",)
('AMAZON MARK  Z53FU8XQ1',)
('ALDI 61008',)
('AMAZON MKTPL ZG9M546L2',)
('FIVE BELOW 530',)
('AMAZON MKTPL Z52655J21',)
('CHICK-FIL-A #02500',)
('HOBBY-LOBBY #977',)
('TJMAXX #699',)
('PENTASTAR AVIATION, LLC',)
('BIG LOTS STORES - #1247',)
('KROGER #347',)
("TIEDTKE'S COFFEE",)
('AMAZON MARK  ZG1E03E50',)
('SAVE A LOT #24278',)
('TJ MAXX #1018',)
('WM SUPERCENTER #902',)
('GFS STORE #1943',)
('PANERA BREAD #204762 O',)
('KROGER #5739',)
('AMAZON MKTPL Z52W72741',)
('O CHARLEY S 414',)
('FIVE BELOW 8111',)
('AMAZON MKTPL ZG47S4X30',)
('EL BRONCO RESTAURANT',)
('MEIJER # 254',)
('SQ  THE DELI CAFE AT FROS',)
('IN  CELTIC SECURITY AND I',)
('PENN STATION - 124',)
('AMAZON MKTPL ZC1NI6MA2',)
('DAIRY QUEEN #41065',)
('WILSON LANDSCAPE SUPPLY',)
('SQ  BLUE COLLAR HONEY BEE',)
('FIVE BELOW 7039',)
('WM SUPERCENTER #1718',)
('AMAZON MKTPL Z577K0RB1',)
('AMAZON MKTPL ZC50U7ML2',)
('AMAZON MKTPL Z580Z6W51',)
('ASIAN PEARL',)
('FERN CREEK FIRST WATCH',)
('AMAZON MKTPL Z531J1WR1',)
('AMAZON MKTPL ZG18U7QT0',)
('AMAZON MKTPL ZG6AO7B20',)
('SCRAMBLER MARIES W CTRL',)
('AMAZON MKTPL ZC2ET6B02',)
('PARTY CITY 5340',)
('AMAZON MKTPL ZG6OM5D10',)
('BUFFALO WILD ECOM 0393',)
('LOS BRAVOS MEXICAN REST',)
('FAZOLIS',)
('JETS PIZZA - MI-063',)
('QUALITY DAIRY#31',)
('MEIJER STORE #066',)
('AMAZON MKTPL ZC2WH7BG2',)
('TST  BLINDFISH GRILL - LA',)
('Amazon.com ZG0N28S60',)
('TEXAS ROADHOUSE FR #2004',)
('AMAZON MKTPL ZC5DC18K2',)
('AMAZON MKTPL ZG2G700N1',)
('OLIVE GARDEN 0021323',)
('AMAZON MKTPL ZG78C8HB1',)
('AMAZON MKTPL ZG7JR0U20',)
("WENDY'S 005",)
('APPLEBEES 9553',)
('AMAZON MKTPL ZG7M33I80',)
('CC  CRUMBL EVANSVILLEW',)
("BOB'S SWEEPER MART",)
('ALZSTORE HEALTHCARE',)
('WENDYS #304',)
('AMAZON MKTPL ZG9OG4BW1',)
('WM SUPERCENTER #1263',)
('PY  BUFF CITY SOAP - 0306',)
("PY  DEWEY'S WEST CHESTER",)
('AMAZON MKTPL Z75SM3JI2',)
('LOWES #00288',)
('DOLLAR GENERAL #12657',)
('BEST BUY      00003335',)
('WM SUPERCENTER #1329',)
('PY  LAKE NINA',)
('AMAZON RETA  ZG2QI0RU1',)
('DOLLAR GENERAL #23144',)
('AMAZON MARK  ZC1AN45C0',)
('KROGER #952',)
('AMZN Mktp US ZG1EP0Y71',)
('AMAZON MKTPL ZC1G96GE0',)
('HOMEGOODS # 0795',)
('PALMERS DELI & MARKET',)
('CARRABBAS 8607',)
('SPEEDWAY 43677',)
('WM SUPERCENTER #4609',)
('AMAZON MKTPL ZC1LD7L01',)
('MARSHALLS #814',)
('TST MARKET STREET GRILLE',)
('AJS HEAVENLY PIZZA COMPAN',)
('BUFFALO WILD ECOM 3606',)
('AMZN Mktp US',)
('HOBBY-LOBBY #0136',)
("PAPA JOHN'S #1144",)
('BIG LOTS STORES - #1187',)
('AMZN Mktp US ZC76J8BJ0',)
('NEW CHINA TOWN',)
('THE HOME DEPOT #2016',)
('AMAZON MKTPL ZC5GO47O0',)
('KROGER #905',)
('MARSHALLS #1481',)
('CHICK-FIL-A #05581',)
('AMAZON MKTPL ZC6GD80L1',)
('AMZN Mktp US Z739Z1SB2',)
('AMZN Mktp US ZC3D24DM0',)
('AMAZON MKTPL ZC0WX73O1',)
('FIRENOTIFIER.COM',)
('AMAZON MKTPL ZE6SH0KE1',)
('PAPPAS RESTAURANT',)
("JAC AND DO'S PIZZA",)
('WAL-MART #1991',)
('PAY LESS #824',)
('CANCUN MEXICAN GRILL OKEM',)
('LOWES #00215',)
('STAPLES       00103937',)
('REMKE HARRISON',)
('SP STANLEY - A PMI',)
('AMAZON MKTPL ZP6505Z80',)
('MEIJER STORE #103',)
('HOLIDAY INN AIRPORT SOUT',)
('BEC INTEGRATED SOLUTIONS,',)
('MEIJER # 154',)
('WAL-MART #2691',)
('AMAZON MKTPL ZD6119OF2',)
('AMAZON MKTPL ZD4989NS2',)
('WM SUPERCENTER #1180',)
('AMAZON MKTPL ZD1KM4OB2',)
('AMAZON MKTPL ZD2WK6LJ2',)
('WAL-MART #1053',)
('WAL-MART #1655',)
('AMAZON MKTPL ZE9U61I41',)
('ROSES STORES # 541',)
('Etsy.com - Multiple Shop',)
('CKE THE OASIS GOSHEN',)
('TJMAXX #0212',)
('AMZN Mktp US ZP9H760J0',)
('PIGGLY WIGGLY',)
('BOB EVANS REST #2040',)
('AMAZON MKTPL ZP0MC3OJ1',)
('HAMPTON INN & SUITES SAV',)
('SP FATHEAD LLC',)
('KROGER #895',)
('AMAZON MKTPL ZD4E25VU2',)
('WM SUPERCENTER #2429',)
('WAL-MART #0526',)
('AMAZON MKTPL ZD6JD1TJ2',)
('SQ  EVER POUR',)
('Netflix.com',)
('AMAZON MKTPL ZP83X6QI0',)
('BIG LOTS STORES - #5176',)
('AMAZON MKTPL ZD0OQ7X42',)
('TST  ROOSTERS - MIAMISBUR',)
('TOWNEPLACE SUITES',)
('CRACKER BARREL #370 ZANES',)
('AMAZON MKTPL ZP0OD3NQ1',)
('ACCESS CASTERS INC',)
('AMAZON MKTPL ZP92E17K0',)
('MEIJER STORE #155',)
('WAL-MART #5418',)
('AMAZON MKTPL ZP01B53C1',)
('AUTOPAYMENT - THANK YOU',)
('SYLVANIA HOMETOWN',)
('LITTLE CAESARS 3795-0011',)
('KROGER #356',)
("PAPA JOHN'S #2100",)
('KROGER #525',)
('AMAZON MARK  ZD89A6NV0',)
('KROGER #522',)
('KROGER #938',)
('WAL-MART #5767',)
('MICHAELS STORES 3847',)
('AMAZON MARK  ZD2NU1E70',)
('SWEETWATER SOUND',)
('KROGER #360',)
('WM SUPERCENTER #1728',)
('GFS STORE #1957',)
('HOBBY LOBBY #357',)
('CC  CRUMBL FISHERS',)
('BIG BOY 13',)
('DOLLAR GENERAL #14172',)
('KROGER #361',)
('JIMMY JOHNS - 3346 - ECOM',)
('WAL-MART #0702',)
('TIFFIN GLASS & MIRROR',)
('AMAZON MKTPL ZD92G9O41',)
('OHIO COS-BARB BD',)
('MEIJER STORE #161',)
('WALGREENS #11454',)
('GREEN SECURITY LLC',)
('HOME2 SUITES BY HILTON NE',)
("CAPTAIN D'S 3222",)
('CHICK-FIL-A #02899',)
('AMAZON MARK  ZD90S8O41',)
('AMAZON MARK  ZD1GV4KF0',)
('BIG LOTS STORES - #1633',)
("STAHLS' HOTRONIX",)
('AMAZON MKTPL ZD2O373G1',)
('THORNTONS #261171',)
('WAL-MART #0923',)
('AMAZON MKTPL ZD2O81620',)
('AMAZON MKTPL ZD0JR9P21',)
('Amazon.com ZD5H489Y0',)
('IN BMV EVANSVILLE WEST  4',)
('CHALET PARTY SHOPPES - 16',)
('AMAZON MKTPL Z583R1UD2',)
('EXTRA SPACE 8535',)
('ARBYS 0714',)
('LOWES #00464',)
('AMAZON MARK  ZD0B56IC0',)
('AMAZON MKTPL Z574G59D2',)
('DUNKIN #363264',)
('SAMSCLUB #6437',)
('AMAZON RETA  Z56V003I0',)
('SP VIBE BOUTIQUE',)
('CLIA LABORATORY PROGRAM',)
('AMZN Mktp US Z506B8JU0',)
('AMAZON MKTPL Z58IN7TQ0',)
('AMAZON MKTPL ZD9CH26X1',)
('HARTMAN PUBLISHING, INC.',)
('HOMEGOODS #0708',)
('AMAZON MKTPL ZG9C08T42',)
('USPS PO 1742020941',)
('MARSHALLS #844',)
('AMAZON MKTPL ZD6S04DW1',)
('AMAZON MKTPL ZD1I15SA1',)
('TST  ROOSTERS  - ZANESVIL',)
('WM SUPERCENTER #720',)
('MARSHALLS #1505',)
('AMAZON MKTPL Z58CJ8XD0',)
('SP DIETSCH BROTHERS',)
('AMAZON MKTPL ZG5826A32',)
('GABRIEL BROS 0124',)
('UNITED      0162451570944',)
('AMAZON MKTPL Z581B3OI1',)
('MEIJER.COM  #221',)
('WAL-MART #4479',)
('WINGS ETC - 0054',)
('THE HOME DEPOT #2018',)
('AMAZON MKTPL Z59A12C31',)
('Amazon.com Z542V4CJ1',)
('WASSERMANS FLORAL',)
('BEST BUY      00004648',)
('AMAZON MKTPL ZG01I98Q2',)
('MEIJER # 161',)
('ROSS STORES # 1763',)
('AAA HOOSIER MBR DUES-A',)
('TARGET        00001396',)
('MICHAELS STORES 9987',)
('AMAZON MKTPL Z58X57W60',)
('AMAZON MKTPL Z564V09C0',)
("WENDY'S #22",)
('WAL-MART #1987',)
('AMAZON MKTPL Z58OW8ZA1',)
('AMAZON MKTPL ZG0CR4KJ2',)
('AMAZON MKTPL Z55PP7TF1',)
("IN  NORM'S PIANO SERVICE,",)
('KROGER #5914',)
('PUERTO VALLARTA #8',)
('Amazon.com Z53AN8L11',)
('FSP CUSTOM ENGRAVING, INC',)
('AMAZON MKTPL ZG0CP80S0',)
('SAMS CLUB#6528',)
('WM SUPERCENTER #5893',)
('AMAZON MKTPL ZG5VT00C0',)
('AMAZON MKTPL Z56I06Q51',)
('VALUE FOODS MART #21483',)
('JUNGLE JIMS EASTGATE',)
("KIRKLAND'S #983",)
('TEXAS ROADHOUSE #2255',)
('THORNTONS #0164',)
('MEIJER STORE #129',)
('DUNKIN #353191',)
("MCALISTER'S 101025",)
('PAPA JOHN S #5316',)
('DOO WOP SHOP LEXINGTON',)
('AMAZON MKTPL ZC66Z40E2',)
('AMZN Mktp US Z56AA47X1',)
('AMAZON MKTPL Z53B117D1',)
('PATHELEN FLOWER & GIFT',)
('T J MAXX # 1159',)
('LOWES #00474',)
('AMAZON MKTPL ZG10E7PV0',)
('KWIK TRIP #955',)
('EL NOPAL MEXICAN RESTAURA',)
('CHERYL&CO',)
('DOLLAR GENERAL #23308',)
('APPLEBEES 9553 OLO',)
('JIMMY JOHNS - 4289 - ECOM',)
('PARTY CITY 5135',)
('HOBBY-LOBBY #0121',)
('GUSTAVOS MEXICAN GRILL LA',)
('SPUD HUT',)
('BENCHWARMERS RESTAURANT A',)
('DUNKIN #356333',)
('TACO BELL 3001032',)
('JIMMY JOHNS - 90040',)
('AMAZON MKTPL Z51ZV69K1',)
('AMAZON MKTPL ZG28O86R0',)
('WAL-MART #3436',)
('HOLIDAY INN EXP - WARSAW',)
('KROGER #0264',)
('BURLINGTON STORES 1501',)
('JIMMY JOHNS 812 - E-CO',)
('WAL-MART #3447',)
('FOWLING WAREHOUSE INDIAN',)
('BOB EVANS #0287 OLO',)
('AMAZON MKTPL ZG0MV3U70',)
('PANDA EXPRESS #2848 P',)
('TARGET.COM',)
('AMAZON MKTPL ZG09B9UD0',)
("SQ  ANGELA'S $5 SPARKLE",)
('AMZN Mktp US ZG3740J51',)
('AMAZON MKTPL ZC2GQ4F40',)
('FOOD AT  PIPS PUB',)
('AMAZON MARK  ZG32C78Z1',)
('PAYLESS LIQUORS 9',)
('AMZN Mktp US ZG7M823W1',)
('AMZN Mktp US ZC58Q4FH0',)
('AMAZON MKTPL ZC5QY5NA0',)
('MICHAELS STORES 5817',)
('CHICK-FIL-A #02808',)
('OLIVE GARDEN ZK 0021768',)
('AMAZON MARK  ZC0NM4RA2',)
('FIVE BELOW 7052',)
('MICHAELS STORES 9601',)
('AMAZON MKTPL ZG3190K71',)
('LOWES #00630',)
('AMAZON MKTPL Z701N2T32',)
('WALGREENS #7618',)
('AMAZON MKTPL ZG4HC17L1',)
('HOBBY-LOBBY #261',)
('AMAZON MKTPL ZC1138VF0',)
('GOLDEN CORRAL 0960',)
('SQ  INDOOR THEATER',)
('BIG LOTS STORES - #1164',)
('HOBBY LOBBY #0310',)
('KING GYROS',)
('WENDYS 2275',)
('PELOTON  MEMBERSHIP',)
('TINCheck LLC',)
('RONEYS',)
('WM SUPERCENTER #492',)
('CRACKER BARREL #528 MAUME',)
('AMAZON MKTPL ZC0392Q90',)
('AMAZON MARK  Z73GD4MX2',)
('AMAZON MKTPL ZC0VF9820',)
('AMZN Mktp US ZC8UA8B50',)
('WALGREENS #10073',)
('AMAZON MKTPL ZC31E8N91',)
('STRACK & VAN TIL #8750',)
('GG  AM HEART ASSN OH',)
('TST PIZZA KING - SHELBUR',)
('AMAZON MKTPL ZC4IU25Z0',)
('AMAZON RETA  ZC9HK5DD0',)
("SQ  JACK'S DONUTS OF NEW",)
('SQ  HICKORYPITSTOPBBQ',)
('KROGER #5833',)
('WAL-MART #2700     SE2',)
('AMAZON MKTPL ZC2T89JE1',)
('AMZN Mktp US ZC3IZ4D20',)
('AMZN Mktp US ZC5I08DG0',)
('JIMMY JOHNS - 3694 - ECOM',)
('DOH NURSING/HLTHCARE',)
('AMAZON MKTPL Z79329QD2',)
('AMAZON MKTPL Z71U48DP2',)
('JOANN STORES JOANN.COM',)
('AMAZON MKTPL ZC9BN2K70',)
('WAL-MART #1547',)
('SQ  JUNIOR?S DELICATESSEN',)
('MARCOS PIZZA 1036',)
('BUFFALO WILD ECOM 3702',)
('DNH GODADDY#3499838701',)
('WM SUPERCENTER #4118',)
('SQ  LIFELINK AED SPECIALI',)
('WAL-MART #0519',)
('WAL-MART #4413',)
('ALDI 67045',)
('SHELL OIL 12776970001',)
('GFS STORE #0523',)
('KROGER #109',)
('BIG LOTS STORES - #0257',)
('HAMPTON INNS',)
('WM SUPERCENTER #1783',)
('FIESTA CHARRA 2',)
('DOLLAR GENERAL #20639',)
('CVS/PHARMACY #08669',)
("Marge's Donut Den",)
('CANCUN MEXICAN BAR AND GR',)
('WM SUPERCENTER #702',)
('LOWES #00199',)
('KROGER #777',)
('AMAZON MARK  ZE4H286Z1',)
('AMAZON MKTPL ZE2IK8UN1',)
('PIONEER DRAMA SERVICE INC',)
('KROGER #468',)
('Mailchimp',)
('PIZZA HUT 002967',)
('TARGET        00012526',)
('HOBBY-LOBBY # 420',)
('AMZN Mktp US ZE1OK9IC1',)
('AMAZON MKTPL ZP6MW4FJ1',)
('DOLLAR-GENERAL #7029',)
('CENTRAL IOWA COMPOUNDI',)
('KROGER 5005',)
('SAMSCLUB.COM',)
('AMAZON MKTPL ZP0KH4TV1',)
('KROGER #409',)
('KROGER #138',)
('LITTLE CAESARS 1995-0012',)
('Netflix',)
('AMAZON MKTPL ZP37P7BY0',)
('CRACKER BARREL #216 EVANS',)
('WAL-MART #1327',)
('FAIRFIELD INN EVANSVIL',)
('FAIRFIELD INN CINCINNA',)
('AMAZON MKTPL ZP6UB5TZ1',)
('TARGET        00024737',)
('WM SUPERCENTER #4479',)
('HOBBY-LOBBY #264',)
('AMAZON MKTPL ZD8YK58M2',)
("LAROSA'S - SEVEN HILLS",)
('AMAZON MKTPL ZD3S32AG2',)
('KROGER #439',)
('RED ROOSTER CAFE',)
('HARBOR FREIGHT TOOLS3278',)
('MARSHALLS #1545',)
('SP LAD CUSTOM PUBLIS',)
('FSP COAST TRANSPORTATION',)
('KROGER #744',)
('IN  ALPHA PHI ALPHA FRATE',)
('AMAZON MKTPL ZP4JV2B81',)
('AMAZON MKTPL ZD0JS7K02',)
('AMAZON MKTPL ZD9CO4WC2',)
('AMZN Mktp US ZD4A34IL2',)
('KROGER #418',)
('PAPA JOHNS #233',)
('AMAZON MKTPL ZD4839ZS0',)
('KROGER #402',)
('NOBLE ROMANS CP&P - WE',)
('Amazon.com ZP6NM4841',)
('AMAZON MKTPL ZP4LG7SP1',)
('SAMS CLUB #8188',)
('AMAZON MKTPL Z54TV2CB2',)
('AMAZON MKTPL ZD52T1JL0',)
('PIZZA HUT 041450',)
("MCALISTER'S 1397",)
('Amazon Music ZP5X88QX1',)
('Amazon.com Z58DP6CQ2',)
('GNC.COM',)
('AMAZON MKTPL ZP9QR2261',)
('WM SUPERCENTER #3294',)
('AMAZON MKTPL Z57JX4FY2',)
('SWEET PEA FLORAL',)
('SP SHOP STATIK',)
('KROGER #720',)
('JIMMY JOHNS - 1376',)
('IKEA 469154831',)
('AMAZON MKTPL Z54BR0AO2',)
('PIZZA HUT 007672',)
('DAIRY QUEEN #70870',)
('AMAZON MKTPL ZP95S9761',)
('DOLLAR GENERAL #14337',)
("MCALISTER'S 102345",)
('AMAZON RETA  Z53892GL2',)
('AMAZON MKTPL ZD8P63HE0',)
('WM SUPERCENTER #1758',)
('CRESENT INC',)
('AMAZON MKTPL ZD5MS0CZ1',)
('WM SUPERCENTER #2035',)
('WM SUPERCENTER #923',)
('AMAZON MKTPL ZP9NB5R01',)
('DQ GRILL & CHILL #42077',)
('DD  DOORDASH MCALISTER',)
('AMZN Mktp US Z53KQ20Y2',)
('MENARDS LAFAYETTE SOUTH',)
('AMAZON MKTPL ZD7587B80',)
('CRACKER BARREL #650',)
('THE UPS STORE 5616',)
("PAPA JOHN'S #2331",)
('AMAZON MKTPL Z53QO92Q2',)
('AMAZON MKTPL Z55X85XG2',)
('TST  ROOSTERS - HAMILTON',)
('EL REPARO MEXICAN GREENSB',)
('BIG LOTS STORES - #1160',)
('WM SUPERCENTER #1310',)
('AMAZON MARK  Z50L02HL2',)
('DOLLAR-GENERAL #3710',)
("WALT CHURCHILL'S MA",)
('DOLLAR-GENERAL #7817',)
('QDOBA 2493 OLO',)
('WAL-MART #4118',)
('HORROCKS FARM MARKET BC',)
('AMAZON MKTPL ZD2AB9171',)
('AMAZON MKTPL ZD7QB9WE0',)
('AMAZON MKTPL ZD1N949X0',)
('AMAZON MKTPL ZD1W74MT1',)
('SAMSCLUB #6657',)
('HOMEGOODS #0863',)
('AMAZON MKTPL ZG7Q72F02',)
('AMAZON MKTPL ZG3FF3F02',)
('AMAZON MKTPL ZG0YT3C62',)
('AMAZON MKTPL ZG0PO5L22',)
('PANERA BREAD #204784 O',)
('AMAZON MKTPL ZD7FA36Q1',)
('Spectrum',)
('AMZN Mktp US ZD0FO8291',)
('AMAZON MKTPL ZD4NR96J1',)
('T J MAXX #1204',)
('AMAZON MKTPL ZG07D2XP2',)
('AMAZON MKTPL Z58668MU0',)
('AMAZON MKTPL Z59XG2XO0',)
('MENARDS BLOOMINGTON IN',)
('TJMAXX #0587',)
('RUSSELL CELLULAR HARRISON',)
('DANVILLE 8 CINEMAS',)
('TST  MESH LOUISVILLE',)
('PARTY CITY 587',)
('AMAZON MKTPL Z54X18HD0',)
('BROADWAY TAPHOUSE',)
('DOLLAR GENERAL #13720',)
('AMAZON MKTPL ZD8A839K1',)
('DOLLAR-GENERAL #8464',)
('AMAZON MKTPL Z55EW1GB0',)
('IN BMV SCOTTSBURG  429',)
('AMAZON MKTPL ZD1GI4UJ1',)
('MEIJER.COM  #117',)
('AMAZON MKTPL Z519Q4820',)
('AMAZON MKTPL ZG9421VG2',)
('DD  DOORDASH ARBYS',)
('IN BMV INDPLS-MICHIGAN RO',)
('MEIJER STORE #226',)
('ALDI 67109',)
('IC  INSTACART',)
('TARGET        00014456',)
('JIMMY JOHNS # 1211 -',)
('MEIJER # 212',)
('WAL-MART #1783',)
('AMAZON MKTPL Z50BC02M0',)
('AMAZON MARK  Z56V55S30',)
('PartSelect.com',)
('AMAZON MKTPL Z562J9C11',)
('DIEGO S MEXICAN GRILL',)
('SQ  PAT-A-CAKES AND COOKI',)
('AMAZON MKTPL ZG4781IY2',)
('SAMS CLUB#6657',)
('SOUTHWES    5262300649822',)
('SQ  HIGH SPIRITS',)
('Mancinos Pizza  Grin',)
('AMAZON MKTPL Z597H72P0',)
('AMAZON MARK  ZG8MD1IP2',)
('IN BMV TELL CITY  438',)
('MISSION BBQ ST. MATTHEWS-',)
('PIZZA HUT #031010',)
('MARSHALLS #1316',)
('AMAZON MKTPL ZG8ET6R92',)
('AMAZON MARK  Z55XQ0J31',)
('AMAZON MKTPL Z50JO5YD0',)
('AMAZON MKTPL Z554P5JO1',)
('AMAZON MKTPL ZG3R827T2',)
('SAMS CLUB#6375',)
('AMAZON MKTPL ZC77W8JD2',)
('AMAZON MKTPL ZG39R6AR0',)
('TRACTOR SUPPLY CO #1772',)
('Xscape Blankenbaker',)
('KY BOARD NURSING',)
('KY CHFS-OIG',)
('AMAZON MARK  ZG57W7J40',)
('TRACTOR SUPPLY #2214',)
('WM SUPERCENTER #1160',)
('CYNTHIANA KY CHAMBER',)
('IN  SEASONAL FOOD CONCEPT',)
('PIZZA HUT 040278',)
('Amazon Prime ZC8Y440Q2',)
('KROGER #959',)
('SQ  POP AROUND THE CLOCK',)
('LOWES #00534',)
('DOLLAR-GENERAL #4543',)
('HOBBY LOBBY #372',)
('BUFFALO WILD ECOM 0367',)
('WM SUPERCENTER #2471',)
('TIM HORTONS #910706',)
('PIZZA HUT 014098',)
('SOUTHWES    5264265345815',)
('IDEMIA I&S',)
('SQ  HOMETOWN DOUGHNUTS',)
('WENDYS #303',)
('AMAZON MKTPL ZC2MP7X32',)
('DD  DOORDASHDASHPASS',)
('TJMAXX #0203',)
('DD  DOORDASH INSOMNIAC',)
('AMAZON MKTPL ZG6Z44H90',)
('AMAZON MKTPL ZC3K42VB2',)
('CRUMBL FERN CREEK',)
('TJ MAXX #1008',)
('CKE 423 SMOKEHOUSE PETERS',)
('WAL-MART #2786',)
('PY  THE HOMESTEAD',)
('JAGGERS # 2804',)
('BETTINGER POTATO CHIPS',)

In [ ]:
# %%

# join transactions to department location mapping

con.sql(
    """
CREATE TABLE clean_transactions_1 AS 
SELECT  t.*, m.* 
FROM    pcard_monthly t
LEFT JOIN dept_loc m
    ON  t."Financial Codes.Project Code" = m."Financial Codes.Project Code"
"""
)

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_1
    SET "Financial Codes.Project Code" = '0' WHERE "Financial Codes.Project Code" = 'N/A'
"""
)

con.commit()

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_1
    SET "Transaction Splits.Split Amount" = '0.00' WHERE "Transaction Splits.Split Amount" IS NULL OR "Transaction Splits.Split Amount" = '' OR "Transaction Splits.Split Amount" = ' '
"""
)

con.commit()

In [ ]:
# %%

con.sql(
    """
ALTER TABLE clean_transactions_1 ALTER "Transaction Splits.Split Amount" TYPE DECIMAL;    
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_1 ADD COLUMN ALL_MATCHED_RULES STRING DEFAULT ' '
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_1 ADD COLUMN ANY_MATCHED_RULE BOOLEAN DEFAULT False
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_1 ADD COLUMN AmountIsWholeNumber BOOLEAN DEFAULT False
"""
)

con.commit()

print(r)

None

In [ ]:
# %%

r = con.sql(
    """
UPDATE clean_transactions_1 
    SET AmountIsWholeNumber = (CASE WHEN "Transaction Splits.Split Amount" = floor("Transaction Splits.Split Amount") AND "Transaction Splits.Split Amount" / 50 = floor("Transaction Splits.Split Amount" / 50) THEN True ELSE False END)
"""
)

con.commit()

print(r)

None

In [ ]:
# %%

res = con.sql(
    """SELECT AmountIsWholeNumber, count(*) from clean_transactions_1 
    GROUP BY AmountIsWholeNumber
    ORDER BY count(*);
    """
)

con.commit()

print(res)

┌─────────────────────┬──────────────┐
│ AmountIsWholeNumber │ count_star() │
│       boolean       │    int64     │
├─────────────────────┼──────────────┤
│ true                │          124 │
│ false               │         3943 │
└─────────────────────┴──────────────┘

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_1 SET ALL_MATCHED_RULES = ALL_MATCHED_RULES || 'AmtWhole# ' WHERE AmountIsWholeNumber = True
""")

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_1 SET ANY_MATCHED_RULE = True WHERE AmountIsWholeNumber = True
""")

con.commit()

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM clean_transactions_1"))

print(con.sql("DESCRIBE clean_transactions_1"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

┌──────────────────────────────────────┬───────────────┬─────────┬─────────┬──────────────────────┬─────────┐
│             column_name              │  column_type  │  null   │   key   │       default        │  extra  │
│               varchar                │    varchar    │ varchar │ varchar │       varchar        │ varchar │
├──────────────────────────────────────┼───────────────┼─────────┼─────────┼──────────────────────┼─────────┤
│ Company.Company Legal Name           │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Company Unit.Hierarchy Name          │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.General Ledger Code  │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction User Defined.Note        │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction Splits.Split Description │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.Cost Center Code     │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.Project Code         │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction Splits.Split Amount      │ DECIMAL(18,3) │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction.Merchant Name            │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction.Posting Dt               │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│           ·                          │    ·          │  ·      │  ·      │  ·                   │  ·      │
│           ·                          │    ·          │  ·      │  ·      │  ·                   │  ·      │
│           ·                          │    ·          │  ·      │  ·      │  ·                   │  ·      │
│ Financial Codes.Project Code_1       │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Location Name                        │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Division                             │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Company.Company Legal Name_1         │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Location Category                    │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Grouping                             │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Notes                                │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ ALL_MATCHED_RULES                    │ VARCHAR       │ YES     │ NULL    │ ' '                  │ NULL    │
│ ANY_MATCHED_RULE                     │ BOOLEAN       │ YES     │ NULL    │ CAST('f' AS BOOLEAN) │ NULL    │
│ AmountIsWholeNumber                  │ BOOLEAN       │ YES     │ NULL    │ CAST('f' AS BOOLEAN) │ NULL    │
├──────────────────────────────────────┴───────────────┴─────────┴─────────┴──────────────────────┴─────────┤
│ 32 rows (20 shown)                                                                              6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

r = con.sql(
    """
SELECT "Financial Codes.General Ledger Code", CASE WHEN len(string_split("Financial Codes.General Ledger Code", '-')) > 1 THEN string_split("Financial Codes.General Ledger Code", '-')[2] ELSE "Financial Codes.General Ledger Code" END AS test FROM clean_transactions_1;
"""
)

print(r)

┌─────────────────────────────────────┬─────────┐
│ Financial Codes.General Ledger Code │  test   │
│               varchar               │ varchar │
├─────────────────────────────────────┼─────────┤
│ C52-61551                           │ 61551   │
│ C58-61551                           │ 61551   │
│ C58-65255                           │ 65255   │
│ C57-60415                           │ 60415   │
│ C51-61251                           │ 61251   │
│ C54-61551                           │ 61551   │
│ C54-61551                           │ 61551   │
│ C51-61581                           │ 61581   │
│ C51-61821                           │ 61821   │
│ C51-61251                           │ 61251   │
│     ·                               │   ·     │
│     ·                               │   ·     │
│     ·                               │   ·     │
│ C54-61551                           │ 61551   │
│ C57-60415                           │ 60415   │
│ C54-61551                           │ 61551   │
│ C52-65315                           │ 65315   │
│ C57-61231                           │ 61231   │
│ C52-65205                           │ 65205   │
│ C57-61231                           │ 61231   │
│ C58-65455                           │ 65455   │
│ C51-61251                           │ 61251   │
│ C58-61551                           │ 61551   │
├─────────────────────────────────────┴─────────┤
│ 4067 rows (20 shown)                2 columns │
└───────────────────────────────────────────────┘

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_1 ADD COLUMN AcctNum STRING DEFAULT 0
"""
)

print(r)

None

In [ ]:
# %%

r = con.sql(
    """
UPDATE clean_transactions_1 
    SET AcctNum = (CASE WHEN len(string_split("Financial Codes.General Ledger Code", '-')) > 1 THEN string_split("Financial Codes.General Ledger Code", '-')[2] ELSE "Financial Codes.General Ledger Code" END)
"""
)

con.commit()

print(r)

None

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM clean_transactions_1"))

print(con.sql("DESCRIBE clean_transactions_1"))

# con.sql("COPY clean_transactions_1 TO outputFile (HEADER, DELIMITER ',');")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

┌──────────────────────────────────────┬───────────────┬─────────┬─────────┬──────────────────────┬─────────┐
│             column_name              │  column_type  │  null   │   key   │       default        │  extra  │
│               varchar                │    varchar    │ varchar │ varchar │       varchar        │ varchar │
├──────────────────────────────────────┼───────────────┼─────────┼─────────┼──────────────────────┼─────────┤
│ Company.Company Legal Name           │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Company Unit.Hierarchy Name          │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.General Ledger Code  │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction User Defined.Note        │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction Splits.Split Description │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.Cost Center Code     │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Financial Codes.Project Code         │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction Splits.Split Amount      │ DECIMAL(18,3) │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction.Merchant Name            │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Transaction.Posting Dt               │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│       ·                              │    ·          │  ·      │  ·      │  ·                   │  ·      │
│       ·                              │    ·          │  ·      │  ·      │  ·                   │  ·      │
│       ·                              │    ·          │  ·      │  ·      │  ·                   │  ·      │
│ Location Name                        │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Division                             │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Company.Company Legal Name_1         │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Location Category                    │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Grouping                             │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ Notes                                │ VARCHAR       │ YES     │ NULL    │ NULL                 │ NULL    │
│ ALL_MATCHED_RULES                    │ VARCHAR       │ YES     │ NULL    │ ' '                  │ NULL    │
│ ANY_MATCHED_RULE                     │ BOOLEAN       │ YES     │ NULL    │ CAST('f' AS BOOLEAN) │ NULL    │
│ AmountIsWholeNumber                  │ BOOLEAN       │ YES     │ NULL    │ CAST('f' AS BOOLEAN) │ NULL    │
│ AcctNum                              │ VARCHAR       │ YES     │ NULL    │ 0                    │ NULL    │
├──────────────────────────────────────┴───────────────┴─────────┴─────────┴──────────────────────┴─────────┤
│ 33 rows (20 shown)                                                                              6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_1
    SET "AcctNum" = '0' WHERE "AcctNum" = 'N/A'
"""
)

con.commit()

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_1
SET "Transaction User Defined.Note" = lower("Transaction User Defined.Note");
"""
)

con.commit()

In [ ]:
# %%

print(con.sql("select * from clean_transactions_1 limit 5"))

┌──────────────────────┬──────────────────────┬───┬──────────────────┬─────────────────────┬─────────┐
│ Company.Company Le…  │ Company Unit.Hiera…  │ … │ ANY_MATCHED_RULE │ AmountIsWholeNumber │ AcctNum │
│       varchar        │       varchar        │   │     boolean      │       boolean       │ varchar │
├──────────────────────┼──────────────────────┼───┼──────────────────┼─────────────────────┼─────────┤
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ … │ false            │ false               │ 61551   │
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ … │ false            │ false               │ 61551   │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ … │ false            │ false               │ 65255   │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ … │ false            │ false               │ 60415   │
│ TRILOGY HEALTH SER…  │ AMBER MANOR          │ … │ false            │ false               │ 61251   │
├──────────────────────┴──────────────────────┴───┴──────────────────┴─────────────────────┴─────────┤
│ 5 rows                                                                        33 columns (5 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

print(con.sql("""select distinct "Company.Company Legal Name" from clean_transactions_1 """))

┌──────────────────────────────────────────┐
│        Company.Company Legal Name        │
│                 varchar                  │
├──────────────────────────────────────────┤
│ DANVILLE SENIOR PARTNERS LLC             │
│ PCA GROUP CARDS                          │
│ WINCHESTER SENIOR PARTNERS LLC           │
│ BARDSTOWN SENIOR PARTNERS LLC            │
│ TRILOGY HEALTH SERVICES, LLC             │
│ TOF I OPCO HOLDCO LLC                    │
│ NEW ALBANY SENIOR PARTNERS               │
│ Trilogy Dialysis Group Cards             │
│ SHELBYVILLE SENIOR PARTNERS LLC          │
│ AHR TRS WISCONSIN HOLDINGS LLC           │
├──────────────────────────────────────────┤
│                 10 rows                  │
└──────────────────────────────────────────┘

In [ ]:
# %%

def check_flagged(desc: str) -> bool:
    if any(re.search(r"\b" + re.escape(flag) + r"\b", desc) for flag in cleanExceptionsList):
        return True
    else:
        return False

In [ ]:
# %%

con.sql("ALTER TABLE clean_transactions_1 ADD COLUMN Flagged BOOLEAN DEFAULT False")

con.commit()

In [ ]:
# %%

try:
    con.remove_function("check_flagged")
except Exception:
    pass

con.create_function("check_flagged", check_flagged, [VARCHAR], BOOLEAN)

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_1
SET Flagged = check_flagged("Transaction User Defined.Note");
"""
)

con.commit()

In [ ]:
# %%

con.commit()

In [ ]:
# %%

# check_flagged("table covers for marketing events")

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_1 SET ALL_MATCHED_RULES = ALL_MATCHED_RULES || 'Exception ' WHERE Flagged = True
""")

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_1 SET ANY_MATCHED_RULE = True WHERE Flagged = True
""")

con.commit()

In [ ]:
# %%

print("after running the set flag...")
res = con.sql("SELECT Flagged, count(*) from clean_transactions_1 GROUP BY Flagged;")
print(res)

after running the set flag...
┌─────────┬──────────────┐
│ Flagged │ count_star() │
│ boolean │    int64     │
├─────────┼──────────────┤
│ false   │         3937 │
│ true    │          130 │
└─────────┴──────────────┘

In [ ]:
# %%

con.sql(
    """
CREATE TABLE clean_transactions_2 AS 
SELECT  t.*, a.* 
FROM clean_transactions_1 t
LEFT JOIN acct_number_name a
    ON  CAST(t.AcctNum as INTEGER) = a."Account Number"
"""
)

print(con.sql("SELECT COUNT(*) FROM clean_transactions_2"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

In [ ]:
# %%

print(con.sql("DESCRIBE clean_transactions_2"))

┌──────────────────────────────────────┬───────────────┬─────────┬─────────┬─────────┬─────────┐
│             column_name              │  column_type  │  null   │   key   │ default │  extra  │
│               varchar                │    varchar    │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────────────┼───────────────┼─────────┼─────────┼─────────┼─────────┤
│ Company.Company Legal Name           │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Company Unit.Hierarchy Name          │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.General Ledger Code  │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction User Defined.Note        │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Description │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Cost Center Code     │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code         │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Amount      │ DECIMAL(18,3) │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Merchant Name            │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Posting Dt               │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│    ·                                 │    ·          │  ·      │  ·      │  ·      │  ·      │
│    ·                                 │    ·          │  ·      │  ·      │  ·      │  ·      │
│    ·                                 │    ·          │  ·      │  ·      │  ·      │  ·      │
│ Grouping                             │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Notes                                │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ ALL_MATCHED_RULES                    │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ ANY_MATCHED_RULE                     │ BOOLEAN       │ YES     │ NULL    │ NULL    │ NULL    │
│ AmountIsWholeNumber                  │ BOOLEAN       │ YES     │ NULL    │ NULL    │ NULL    │
│ AcctNum                              │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Flagged                              │ BOOLEAN       │ YES     │ NULL    │ NULL    │ NULL    │
│ Account Number                       │ INTEGER       │ YES     │ NULL    │ NULL    │ NULL    │
│ Account Name                         │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Comment                              │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────────────┴───────────────┴─────────┴─────────┴─────────┴─────────┤
│ 37 rows (20 shown)                                                                 6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql(
    """
CREATE TABLE clean_transactions_3 AS 
SELECT  t.*, cl.* 
FROM clean_transactions_2 t
LEFT JOIN card_limits cl
    ON  t."Cardholder.First Name" = cl."First Name" AND t."Cardholder.Last Name" = cl."Last Name" AND t."Financial Codes.Project Code" = cl."Financial Codes.Project Code"
"""
)

print(con.sql("SELECT COUNT(*) FROM clean_transactions_3"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

In [ ]:
# %%

con.sql(f"""COPY clean_transactions_3 TO '{outputFile}' (HEADER, DELIMITER ',');""")

In [ ]:
# %%

print(con.sql("DESCRIBE clean_transactions_3"))

┌──────────────────────────────────────┬───────────────┬─────────┬─────────┬─────────┬─────────┐
│             column_name              │  column_type  │  null   │   key   │ default │  extra  │
│               varchar                │    varchar    │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────────────┼───────────────┼─────────┼─────────┼─────────┼─────────┤
│ Company.Company Legal Name           │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Company Unit.Hierarchy Name          │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.General Ledger Code  │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction User Defined.Note        │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Description │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Cost Center Code     │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Financial Codes.Project Code         │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction Splits.Split Amount      │ DECIMAL(18,3) │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Merchant Name            │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Transaction.Posting Dt               │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│           ·                          │    ·          │  ·      │  ·      │  ·      │  ·      │
│           ·                          │    ·          │  ·      │  ·      │  ·      │  ·      │
│           ·                          │    ·          │  ·      │  ·      │  ·      │  ·      │
│ Financial Codes.Project Code_2       │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Name_1                      │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Location Category_1                  │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Grouping_1                           │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Department Code                      │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Department name                      │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ First + Last Name                    │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ Comment/Question                     │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ lookup                               │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
│ match                                │ VARCHAR       │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────────────┴───────────────┴─────────┴─────────┴─────────┴─────────┤
│ 58 rows (20 shown)                                                                 6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

for del_col in [
    "Financial Codes.Cost Center Code:1",
    "Financial Codes.Project Code:1",
    "Company.Company Legal Name:1",
    "Financial Codes.Project Code:2",
    "Location Name:1",
    "Location Category:1",
    "Grouping:1",
]:
    try:
        con.sql(f"""ALTER TABLE clean_transactions_3 DROP "{del_col}"; """)
        con.commit()
    except Exception:
        pass

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM clean_transactions_3"))

con.sql("""DELETE FROM clean_transactions_3 WHERE "Transaction.Merchant Name" = 'AUTOPAYMENT - THANK YOU' """)

print(con.sql("SELECT COUNT(*) FROM clean_transactions_3"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4067 │
└──────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4057 │
└──────────────┘

In [ ]:
# %%

print(con.sql("SELECT COUNT(*) FROM clean_transactions_3"))

con.sql("""DELETE FROM clean_transactions_3 WHERE "Transaction.Merchant Name" = 'WEX MONTHLY FEE' """)

print(con.sql("SELECT COUNT(*) FROM clean_transactions_3"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4057 │
└──────────────┘

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         4056 │
└──────────────┘

In [ ]:
# %%

con.sql("ALTER TABLE clean_transactions_3 ADD COLUMN RULE1_GT4 BOOLEAN DEFAULT False")

con.commit()

In [ ]:
# %%

print("before running RULE1...")
res = con.sql("SELECT RULE1_GT4, count(*) from clean_transactions_3 GROUP BY RULE1_GT4;")
print(res)

before running RULE1...
┌───────────┬──────────────┐
│ RULE1_GT4 │ count_star() │
│  boolean  │    int64     │
├───────────┼──────────────┤
│ false     │         4056 │
└───────────┴──────────────┘

In [ ]:
# %%

# Rule 1 - Greater than 4 transactions in a day

# Wrong results??? Seem fine...

con.sql(
    """
UPDATE clean_transactions_3 as outertable
SET RULE1_GT4 = True
FROM (
    SELECT "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", COUNT(*) as COUNT 
        FROM clean_transactions_3
        GROUP BY "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name"
        HAVING COUNT >= 4
) AS innertable
WHERE 
    outertable."Transaction.Transaction Dt" = innertable."Transaction.Transaction Dt" 
    AND outertable."Cardholder.First Name" = innertable."Cardholder.First Name"
    AND outertable."Cardholder.Last Name" = innertable."Cardholder.Last Name";
"""
)

con.commit()

In [ ]:
# %%

con.sql(
    """
    SELECT "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", COUNT(*) as COUNT 
        FROM clean_transactions_3
        GROUP BY "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name"
        HAVING COUNT >= 4
        ORDER BY COUNT
"""
)

┌────────────────────────────┬───────────────────────┬──────────────────────┬───────┐
│ Transaction.Transaction Dt │ Cardholder.First Name │ Cardholder.Last Name │ COUNT │
│          varchar           │        varchar        │       varchar        │ int64 │
├────────────────────────────┼───────────────────────┼──────────────────────┼───────┤
│ 1/7/2025 12:00:00 AM       │ 422-C                 │ LAKES OF MONCLOVA    │     4 │
│ 1/13/2025 12:00:00 AM      │ 146-C                 │ WILLOWS AT HAMBURG   │     4 │
│ 1/15/2025 12:00:00 AM      │ 503-C                 │ WESTLAKE             │     4 │
│ 1/6/2025 12:00:00 AM       │ 185-C                 │ ORCHARD POINTE       │     4 │
│ 1/16/2025 12:00:00 AM      │ 509-C                 │ WILLOWS AT HOWELL    │     4 │
│ 1/20/2025 12:00:00 AM      │ 115-C                 │ STONEBRIDGE          │     4 │
│ 1/22/2025 12:00:00 AM      │ 409-C                 │ MEADOWS OF LEIPSIC   │     4 │
│ 1/22/2025 12:00:00 AM      │ 142-C                 │ WEST RIVER           │     4 │
│ 1/29/2025 12:00:00 AM      │ 423-C                 │ VILLAGE GREEN        │     4 │
│ 1/22/2025 12:00:00 AM      │ 424-C                 │ WILLOWS AT WILLARD   │     4 │
│          ·                 │   ·                   │      ·               │     · │
│          ·                 │   ·                   │      ·               │     · │
│          ·                 │   ·                   │      ·               │     · │
│ 1/2/2025 12:00:00 AM       │ 233-C                 │ COOPER TRAIL         │     8 │
│ 1/23/2025 12:00:00 AM      │ 233-C                 │ COOPER TRAIL         │     8 │
│ 1/21/2025 12:00:00 AM      │ 119-C                 │ MILL POND            │     9 │
│ 1/10/2025 12:00:00 AM      │ 900-H                 │ TRILOGY FLEX FORCE   │     9 │
│ 1/14/2025 12:00:00 AM      │ 410-C                 │ SPRINGVIEW MANOR     │    10 │
│ 1/22/2025 12:00:00 AM      │ 177-C                 │ SPRINGS AT OLDHAM RE │    10 │
│ 1/9/2025 12:00:00 AM       │ 900-H                 │ TRILOGY TRAINING     │    11 │
│ 1/16/2025 12:00:00 AM      │ 900-H                 │ TRILOGY CLINICAL     │    16 │
│ 1/27/2025 12:00:00 AM      │ 900-H                 │ TRILOGY TRAINING     │    18 │
│ 1/17/2025 12:00:00 AM      │ 900-H                 │ TRILOGY CLINICAL     │    65 │
├────────────────────────────┴───────────────────────┴──────────────────────┴───────┤
│ 176 rows (20 shown)                                                     4 columns │
└───────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql(
    """
SELECT "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", COUNT(*)
        FROM clean_transactions_3
        WHERE RULE1_GT4 = True
        GROUP BY "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name"
        ORDER BY COUNT(*)
"""
)

┌────────────────────────────┬───────────────────────┬──────────────────────┬──────────────┐
│ Transaction.Transaction Dt │ Cardholder.First Name │ Cardholder.Last Name │ count_star() │
│          varchar           │        varchar        │       varchar        │    int64     │
├────────────────────────────┼───────────────────────┼──────────────────────┼──────────────┤
│ 12/30/2024 12:00:00 AM     │ 900-H                 │ TRILOGY TRAINING     │            4 │
│ 1/7/2025 12:00:00 AM       │ 175-C                 │ SPRINGS AT STONY BRK │            4 │
│ 1/9/2025 12:00:00 AM       │ 162-C                 │ SPRINGS AT LAFAYETTE │            4 │
│ 1/9/2025 12:00:00 AM       │ 150-C                 │ ASPEN PLACE          │            4 │
│ 1/15/2025 12:00:00 AM      │ 149-C                 │ HEARTHSTONE          │            4 │
│ 1/16/2025 12:00:00 AM      │ 801-P                 │ SYNCHRONY INDIANAPOL │            4 │
│ 1/3/2025 12:00:00 AM       │ 233-C                 │ COOPER TRAIL         │            4 │
│ 1/17/2025 12:00:00 AM      │ 143-C                 │ RIDGEWOOD            │            4 │
│ 1/28/2025 12:00:00 AM      │ 507-C                 │ WILLOWS AT EST LNSNG │            4 │
│ 1/28/2025 12:00:00 AM      │ 412-C                 │ TRIPLE CREEK         │            4 │
│          ·                 │   ·                   │      ·               │            · │
│          ·                 │   ·                   │      ·               │            · │
│          ·                 │   ·                   │      ·               │            · │
│ 1/2/2025 12:00:00 AM       │ 233-C                 │ COOPER TRAIL         │            8 │
│ 1/23/2025 12:00:00 AM      │ 233-C                 │ COOPER TRAIL         │            8 │
│ 1/10/2025 12:00:00 AM      │ 900-H                 │ TRILOGY FLEX FORCE   │            9 │
│ 1/21/2025 12:00:00 AM      │ 119-C                 │ MILL POND            │            9 │
│ 1/14/2025 12:00:00 AM      │ 410-C                 │ SPRINGVIEW MANOR     │           10 │
│ 1/22/2025 12:00:00 AM      │ 177-C                 │ SPRINGS AT OLDHAM RE │           10 │
│ 1/9/2025 12:00:00 AM       │ 900-H                 │ TRILOGY TRAINING     │           11 │
│ 1/16/2025 12:00:00 AM      │ 900-H                 │ TRILOGY CLINICAL     │           16 │
│ 1/27/2025 12:00:00 AM      │ 900-H                 │ TRILOGY TRAINING     │           18 │
│ 1/17/2025 12:00:00 AM      │ 900-H                 │ TRILOGY CLINICAL     │           65 │
├────────────────────────────┴───────────────────────┴──────────────────────┴──────────────┤
│ 176 rows (20 shown)                                                            4 columns │
└──────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

print("after running RULE1...")
res = con.sql("SELECT RULE1_GT4, count(*) from clean_transactions_3 GROUP BY RULE1_GT4;")
print(res)

after running RULE1...
┌───────────┬──────────────┐
│ RULE1_GT4 │ count_star() │
│  boolean  │    int64     │
├───────────┼──────────────┤
│ false     │         3147 │
│ true      │          909 │
└───────────┴──────────────┘

In [ ]:
# %%

con.sql("ALTER TABLE clean_transactions_3 ADD COLUMN RULE2_2SAMEVENDOR BOOLEAN DEFAULT False")

con.commit()

# con.sql("""
# UPDATE clean_transactions_3 SET RULE2_2SAMEVENDOR = False
# """)

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_3 as outertable
SET RULE2_2SAMEVENDOR = True
FROM (
    SELECT "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", "Transaction.Merchant Name", COUNT(*) as COUNT 
        FROM clean_transactions_3
        GROUP BY "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", "Transaction.Merchant Name"
        HAVING COUNT >= 2 and sum("Transaction Splits.Split Amount") >= 250
) AS innertable
WHERE 
    outertable."Transaction.Transaction Dt" = innertable."Transaction.Transaction Dt" 
    AND outertable."Cardholder.First Name" = innertable."Cardholder.First Name"
    AND outertable."Cardholder.Last Name" = innertable."Cardholder.Last Name"
    AND outertable."Transaction.Merchant Name" = innertable."Transaction.Merchant Name";
"""
)

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_3 SET ALL_MATCHED_RULES = ALL_MATCHED_RULES || '2TSVSD ' WHERE RULE2_2SAMEVENDOR = True
""")

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_3 SET ANY_MATCHED_RULE = True WHERE RULE2_2SAMEVENDOR = True
""")

con.commit()

In [ ]:
# %%

print("after running RULE2...")
res = con.sql("SELECT RULE2_2SAMEVENDOR, count(*) from clean_transactions_3 GROUP BY RULE2_2SAMEVENDOR;")
print(res)

after running RULE2...
┌───────────────────┬──────────────┐
│ RULE2_2SAMEVENDOR │ count_star() │
│      boolean      │    int64     │
├───────────────────┼──────────────┤
│ true              │          278 │
│ false             │         3778 │
└───────────────────┴──────────────┘

In [ ]:
# %%

con.sql("ALTER TABLE clean_transactions_3 ADD COLUMN RULE4_SAMEDOLLAR BOOLEAN DEFAULT False")

con.commit()

In [ ]:
# %%

con.sql(
    """
UPDATE clean_transactions_3 as outertable
SET RULE4_SAMEDOLLAR = True
FROM (
    SELECT "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", "Transaction.Merchant Name", "Transaction Splits.Split Amount", COUNT(*) as COUNT 
        FROM clean_transactions_3
        GROUP BY "Transaction.Transaction Dt", "Cardholder.First Name", "Cardholder.Last Name", "Transaction.Merchant Name", "Transaction Splits.Split Amount"
        HAVING COUNT >= 2
) AS innertable
WHERE 
    outertable."Transaction.Transaction Dt" = innertable."Transaction.Transaction Dt" 
    AND outertable."Cardholder.First Name" = innertable."Cardholder.First Name"
    AND outertable."Cardholder.Last Name" = innertable."Cardholder.Last Name"
    AND outertable."Transaction.Merchant Name" = innertable."Transaction.Merchant Name"
    AND outertable."Transaction Splits.Split Amount" = innertable."Transaction Splits.Split Amount";
"""
)

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_3 SET ALL_MATCHED_RULES = ALL_MATCHED_RULES || '2TSVSDS$ ' WHERE RULE4_SAMEDOLLAR = True
""")

con.commit()

In [ ]:
# %%

con.sql("""
UPDATE clean_transactions_3 SET ANY_MATCHED_RULE = True WHERE RULE4_SAMEDOLLAR = True
""")

con.commit()

In [ ]:
# %%

print("after running RULE4...")
res = con.sql("SELECT RULE4_SAMEDOLLAR, count(*) from clean_transactions_3 GROUP BY RULE4_SAMEDOLLAR;")
print(res)

after running RULE4...
┌──────────────────┬──────────────┐
│ RULE4_SAMEDOLLAR │ count_star() │
│     boolean      │    int64     │
├──────────────────┼──────────────┤
│ false            │         3879 │
│ true             │          177 │
└──────────────────┴──────────────┘

In [ ]:
# %%

# load card and grouping from pivot mapping

con.sql(f"""CREATE TABLE pivot_mapping AS SELECT * FROM st_read('{pivotMappingFile}', layer = 'Final Mapping', open_options=['HEADERS=FORCE']);""")

# f"""CREATE TABLE pivot_mapping AS SELECT * FROM st_read('{pivotMappingFile}', layer = 'Pivot-Mapping Example', open_options=['HEADERS=FORCE']);"""

print(con.sql("SELECT COUNT(*) FROM pivot_mapping"))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          500 │
└──────────────┘

In [ ]:
# %%

# New logic for mapping card names

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN FN_LN_1 STRING DEFAULT ' '
"""
)

con.commit()

print(r)

None

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET FN_LN_1 = "Cardholder.First Name" || ' ' || "Cardholder.Last Name"
""")

con.commit()

print(r)

None

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET FN_LN_1 = replace(FN_LN_1, 'N/A ', '')
""")

con.commit()

print(r)

None

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN MAP_COUNT_TO_CL INTEGER DEFAULT -1
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN MAP_COUNT_TO_PM INTEGER DEFAULT -1
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN MAP_COUNT_TO_CL_NEW INTEGER DEFAULT -1
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN MAP_COUNT_TO_NEW_PIVOT_FN_LN INTEGER DEFAULT -1
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN UPDATED_MAPPING STRING DEFAULT ' '
"""
)

con.commit()

In [ ]:
# %%

r = con.sql(
    """
ALTER TABLE clean_transactions_3 ADD COLUMN FINAL_CARD_NAME STRING DEFAULT ' '
"""
)

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_CL = (SELECT COUNT(*) FROM card_limits cl WHERE "Company Unit.Hierarchy Name" = cl."Hierarchy Node Name" AND FN_LN_1 = replace(cl."First Name" || ' ' || cl."Last Name", 'N/A ', ''))
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_PM = (SELECT COUNT(*) FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND "Cardholder.First Name" = pm."First Name" AND "Cardholder.Last Name" = pm."Last Name")
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_NEW_PIVOT_FN_LN = (SELECT COUNT(*) FROM pivot_mapping pm WHERE FN_LN_1 = pm."First name + Last Name")
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET FINAL_CARD_NAME = (SELECT pm."Final Card Name Mapping" FROM pivot_mapping pm WHERE FN_LN_1 = pm."First name + Last Name") where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET UPDATED_MAPPING = (SELECT pm."Assigned Grouping" FROM pivot_mapping pm WHERE FN_LN_1 = pm."First name + Last Name") where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_NEW_PIVOT_FN_LN = 11 where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_NEW_PIVOT_FN_LN = (SELECT COUNT(*) FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND FN_LN_1 = pm."First name + Last Name") WHERE (MAP_COUNT_TO_NEW_PIVOT_FN_LN > 1 and MAP_COUNT_TO_NEW_PIVOT_FN_LN != 11)
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET FINAL_CARD_NAME = (SELECT pm."Final Card Name Mapping" FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND FN_LN_1 = pm."First name + Last Name") where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
 UPDATE clean_transactions_3 SET UPDATED_MAPPING = (SELECT pm."Assigned Grouping" FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND FN_LN_1 = pm."First name + Last Name") where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_NEW_PIVOT_FN_LN = 11 where MAP_COUNT_TO_NEW_PIVOT_FN_LN = 1
""")

con.commit()

In [ ]:
# %%

r = con.sql("""
UPDATE clean_transactions_3 SET MAP_COUNT_TO_CL_NEW = (SELECT COUNT(*) FROM card_limits cl WHERE FN_LN_1 = cl."Hierarchy Node Name")
""")

con.commit()

In [ ]:
# %%

print(con.sql("select * from clean_transactions_3 limit 5"))

┌──────────────────────┬──────────────────────┬──────────────────────┬───┬─────────────────┬──────────────────────┐
│ Company.Company Le…  │ Company Unit.Hiera…  │ Financial Codes.Ge…  │ … │ UPDATED_MAPPING │   FINAL_CARD_NAME    │
│       varchar        │       varchar        │       varchar        │   │     varchar     │       varchar        │
├──────────────────────┼──────────────────────┼──────────────────────┼───┼─────────────────┼──────────────────────┤
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ C52-61551            │ … │ Trilogy Campus  │ Tiffin, OH - The W…  │
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ C58-61551            │ … │ Trilogy Campus  │ Tiffin, OH - The W…  │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ C58-65255            │ … │ Trilogy Campus  │ Sylvania, OH - The…  │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ C57-60415            │ … │ Trilogy Campus  │ Sylvania, OH - The…  │
│ TRILOGY HEALTH SER…  │ AMBER MANOR          │ C51-61251            │ … │ Trilogy Campus  │ Petersburg, IN - A…  │
├──────────────────────┴──────────────────────┴──────────────────────┴───┴─────────────────┴──────────────────────┤
│ 5 rows                                                                                     68 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

# r = con.sql(
#     """
# ALTER TABLE clean_transactions_3 ADD COLUMN UPDATED_MAPPING STRING DEFAULT ' '
# """
# )

# con.commit()

# # %%

# r = con.sql("""
#  UPDATE clean_transactions_3 SET UPDATED_MAPPING = (SELECT pm."Final Card Name Mapping" FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND "Cardholder.First Name" = pm."First Name" AND "Cardholder.Last Name" = pm."Last Name")
# """)

# #  UPDATE clean_transactions_3 SET UPDATED_MAPPING = (SELECT pm."Assigned Grouping based off of Hierarchy name to mapping table" FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND "Cardholder.First Name" = pm."First Name" AND "Cardholder.Last Name" = pm."Last Name")

# con.commit()

# # %%

# r = con.sql(
#     """
# ALTER TABLE clean_transactions_3 ADD COLUMN FINAL_CARD_NAME STRING DEFAULT ' '
# """
# )

# con.commit()

# # %%

# r = con.sql("""
#  UPDATE clean_transactions_3 SET FINAL_CARD_NAME = (SELECT pm."Final Card Name Mapping" FROM pivot_mapping pm WHERE "Company Unit.Hierarchy Name" = pm."Hierarchy Name" AND "Cardholder.First Name" = pm."First Name" AND "Cardholder.Last Name" = pm."Last Name")
# """)

# con.commit()

In [ ]:
# %%

print(con.sql("SELECT * FROM clean_transactions_3 LIMIT 5;"))

┌──────────────────────┬──────────────────────┬──────────────────────┬───┬─────────────────┬──────────────────────┐
│ Company.Company Le…  │ Company Unit.Hiera…  │ Financial Codes.Ge…  │ … │ UPDATED_MAPPING │   FINAL_CARD_NAME    │
│       varchar        │       varchar        │       varchar        │   │     varchar     │       varchar        │
├──────────────────────┼──────────────────────┼──────────────────────┼───┼─────────────────┼──────────────────────┤
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ C52-61551            │ … │ Trilogy Campus  │ Tiffin, OH - The W…  │
│ TRILOGY HEALTH SER…  │ WILLOWS AT TIFFIN    │ C58-61551            │ … │ Trilogy Campus  │ Tiffin, OH - The W…  │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ C58-65255            │ … │ Trilogy Campus  │ Sylvania, OH - The…  │
│ TRILOGY HEALTH SER…  │ THE LAKES OF SYLVA…  │ C57-60415            │ … │ Trilogy Campus  │ Sylvania, OH - The…  │
│ TRILOGY HEALTH SER…  │ AMBER MANOR          │ C51-61251            │ … │ Trilogy Campus  │ Petersburg, IN - A…  │
├──────────────────────┴──────────────────────┴──────────────────────┴───┴─────────────────┴──────────────────────┤
│ 5 rows                                                                                     68 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
# %%

con.sql(f"""COPY clean_transactions_3 TO '{outputFile}' (HEADER, DELIMITER ',');""")

In [ ]:
# %%

out_df = con.sql("SELECT * from clean_transactions_3").df()

In [ ]:
# %%

# CLEAN COMPANY NAMES


def clean_company_name(cn):
    return re.sub(r"([^a-zA-Z ]+?)| US | PO | INC|DD DOORDASH | Inc|DOORDASH |EZCATER|PAYPAL |SQ |TLF |TST |WWW|SP |TM ", "", cn)


translations = {
    r"AMZN Mktp.*": r"AMAZON",
    r"MCDONALDS.*": r"MCDONALDS",
    r"WM SUPERCENTER.*": r"WALMART",
    r"KFC .*": r"KFC",
    r"DROPBOX .*": r"DROPBOX",
    r"AMAZONCOM .*": r"AMAZON",
    r"Amazoncom .*": r"AMAZON",
    r"Amazon Prime .*": r"AMAZON PRIME",
    r"AMZN MKTP.*": r"AMAZON",
    r"COSTCO.*": r"COSTCO",
    r"Amazon Music.*": r"AMAZON MUSIC",
    r"Amazoncom.*": r"AMAZON",
    r"HARDEES.*": r"HARDEES",
    r"KING BUFFET.*": r"KING BUFFET",
    r"RBRT .*": r"RBRT",
    r"ACE HARDWARE.*": r"ACE HARDWARE",
    r"ACE HDWE.*": r"ACE HARDWARE",
    r"ADOBE.*": r"ADOBE",
    r"AGAVE  RYE.*": r"AGAVE  RYE",
    r"Aging Connections.*": r"Aging Connections",
    r"AIRBNB.*": r"AIRBNB",
    r"AMC .*": r"AMC",
    r"APPLEBEES.*": r"APPLEBEES",
    r"APPLECOM.*": r"APPLE",
    r"ARBYS.*": r"ARBYS",
    r"Audible.*": r"AUDIBLE",
    r"BEST BUY.*": r"BEST BUY",
    r"BEST WESTERN.*": r"BEST WESTERN",
    r"BIG BOY.*": r"BIG BOY",
    r"BIGBOY.*": r"BIG BOY",
    r"BIG LOTS.*": r"BIG LOTS",
    r"BUFFALO WILD.*": r"BUFFALO WILD WINGS",
    r"BWW .*": r"BUFFALO WILD WINGS",
    r"BURGER KING.*": r"BURGER KING",
    r"CRACKER BARREL.*": r"CRACKER BARREL",
    r"CRUMBL.*": r"CRUMBL",
    r"CULVER.*": r"CULVERS",
    r"DAIRY QUEEN.*": r"DAIRY QUEEN",
    r"DELTA.*": r"DELTA",
    r"Etsycom.*": r"ETSY",
    r"FACEBK.*": r"FACEBOOK",
    r"FAIRFIELD INN.*": r"FAIRFIELD INN",
    r"FEDEX.*": r"FEDEX",
    r"FIRST WATCH.*": r"FIRST WATCH",
    r"FIVE BELOW.*": r"FIVE BELOW",
    r"FIVE GUYS.*": r"FIVE GUYS",
    r"GOODWILL.*": r"GOODWILL",
    r"HAMPTON INN.*": r"HAMPTON INN",
    r"HILTON GARDEN INN.*": r"HILTON GARDEN INN",
    r"HOLIDAY INN.*": r"HOLIDAY INN",
    r"HOOTERS.*": r"HOOTERS",
    r"JIMMY JOHNS.*": r"JIMMY JOHNS",
    r"KROGER.*": r"KROGER",
    r"LAROSAS.*": r"LAROSAS",
    r"MARATHON PETRO.*": r"MARATHON PETRO",
    r"MCALISTERS.*": r"MCALISTERS",
    r"MEIJER.*": r"MEIJER",
    r"MENARDS.*": r"MENARDS",
    r"MICROSOFT.*": r"MICROSOFT",
    r"Microsoft.*": r"MICROSOFT",
    r"MSFT .*": r"MICROSOFT",
    r"OCHARLEYS.*": r"OCHARLEYS",
    r"OFFICEMAX.*": r"OFFICE MAX",
    r"PANDA EXPRESS.*": r"PANDA EXPRESS",
    r"PANERA BREAD.*": r"PANERA BREAD",
    r"PAPA MURPHYS.*": r"PAPA MURPHYS",
    r"PENN STATION.*": r"PENN STATION",
    r"PF CHANGS.*": r"PF CHANGS",
    r"PIZZA KING.*": r"PIZZA KING",
    r"PIZZAKING.*": r"PIZZA KING",
    r"PIZZAHUT.*": r"PIZZA HUT",
    r"Prime Video.*": r"PRIME VIDEO",
    r"RESIDENCE INN.*": r"RESIDENCE INN",
    r"SAMS CLUB.*": r"SAMS CLUB",
    r"SAMSCLUB.*": r"SAMS CLUB",
    r"SKYLINE CHILI.*": r"SKYLINE CHILI",
    r"SPEEDWAY.*": r"SPEEDWAY",
    r"STARBUCKS.*": r"STARBUCKS",
    r"UPS .*": r"UPS",
    r"WALMART.*": r"WALMART",
    r"WINGS ETC.*": r"WINGS ETC",
}

In [ ]:
# %%

out_df["CleanMerchantName"] = out_df["Transaction.Merchant Name"].apply(lambda x: clean_company_name(x))

In [ ]:
# %%

out_df["CleanMerchantName"].replace(translations, regex=True, inplace=True)

<ipython-input-110-2cb3f0abd3a7>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  out_df["CleanMerchantName"].replace(translations, regex=True, inplace=True)

In [ ]:
# %%

out_df["CleanMerchantName"] = out_df["CleanMerchantName"].str.strip()

In [ ]:
# %%

out_df.head()

,Company.Company Legal Name,Company Unit.Hierarchy Name,Financial Codes.General Ledger Code,Transaction User Defined.Note,Transaction Splits.Split Description,Financial Codes.Cost Center Code,Financial Codes.Project Code,Transaction Splits.Split Amount,Transaction.Merchant Name,Transaction.Posting Dt,...,RULE2_2SAMEVENDOR,RULE4_SAMEDOLLAR,FN_LN_1,MAP_COUNT_TO_CL,MAP_COUNT_TO_PM,MAP_COUNT_TO_CL_NEW,MAP_COUNT_TO_NEW_PIVOT_FN_LN,UPDATED_MAPPING,FINAL_CARD_NAME,CleanMerchantName
0,"TRILOGY HEALTH SERVICES, LLC",WILLOWS AT TIFFIN,C52-61551,air freshener for resident room,N/A,N/A,0435,36.55,WM SUPERCENTER #1622,1/2/2025,...,False,False,435-C WILLOWS AT TIFFIN,0,0,0,11,Trilogy Campus,"Tiffin, OH - The Willows at Tiffin",WALMART
1,"TRILOGY HEALTH SERVICES, LLC",WILLOWS AT TIFFIN,C58-61551,back brace for skilled resident *change coding...,N/A,N/A,0435,172.66,AMAZON MKTPL ZE6SH0KE1,1/2/2025,...,False,False,435-C WILLOWS AT TIFFIN,0,0,0,11,Trilogy Campus,"Tiffin, OH - The Willows at Tiffin",AMAZON MKTPL ZESHKE
2,"TRILOGY HEALTH SERVICES, LLC",THE LAKES OF SYLVANIA,C58-65255,stna testing,N/A,N/A,0427,104.00,Testing and Registry,1/2/2025,...,False,False,427-C LAKES OF SYLVANIA,0,0,0,11,Trilogy Campus,"Sylvania, OH - The Lakes of Sylvania",Testing and Registry
3,"TRILOGY HEALTH SERVICES, LLC",THE LAKES OF SYLVANIA,C57-60415,lunch for leeza,N/A,N/A,0427,5.09,McDonalds 13600,1/2/2025,...,False,False,427-C LAKES OF SYLVANIA,0,0,0,11,Trilogy Campus,"Sylvania, OH - The Lakes of Sylvania",McDonalds
4,"TRILOGY HEALTH SERVICES, LLC",AMBER MANOR,C51-61251,food for the residents- cabbage and meatballs,N/A,N/A,0304,59.15,JAY C FOODS #070,1/2/2025,...,False,False,304-C AMBER MANOR,0,0,0,11,Trilogy Campus,"Petersburg, IN - Amber Manor Care Center",JAY C FOODS

In [ ]:
# %%

out_df.to_excel(outputExcelFile)

In [ ]:
# %%

# Merge Files

import pandas as pd
import os

files_list = [
    './files/pcard_monthly_output_full_history-new1.xlsx',
    './files/pcard_monthly_output_jan24-new1.xlsx',
    './files/pcard_monthly_output_feb24-new1.xlsx',
    './files/pcard_monthly_output_mar24.xlsx',
    './files/pcard_monthly_output_apr24.xlsx',
    './files/pcard_monthly_output_may24.xlsx',
    './files/pcard_monthly_output_june24.xlsx',
    './files/pcard_monthly_output_july24.xlsx',
    './files/pcard_monthly_output_aug24.xlsx',
    './files/pcard_monthly_output_sep24.xlsx',
    './files/pcard_monthly_output_oct24.xlsx',
    './files/pcard_monthly_output_nov24.xlsx',
    './files/pcard_monthly_output_dec24.xlsx',
    './files/pcard_monthly_output_jan25.xlsx',
]

df_list = []

for f in files_list:
    data = pd.read_excel(f)
    df_list.append(data)

df = pd.concat(df_list)

df.to_excel("./files/pcard_monthly_output_full_new_jan25.xlsx")